/* font-family: 'Butterfly Kids', cursive; */

/* colors

headerBg #26292e
sec1grad #ea8b9f -> #e7718b
button #272928
sec2Bg #f4f4f6
sec2border #fce3e7
sec3Bg #ffffff

*/

:root {
    --prim: #26292e;
    --sec: #f4fef6;
    --tert: #fce3e7;
    --btnColor: #272928;
    --headerFont: 'Butterfly Kids', cursive;;
}

/* icons */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-bubbles {
    width: 1.125em;
}

.icon-facebook {
    font-size: 16px;
}

/* close icons */

/* generic */

* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.sr-only {
    display: none;
}

.inner {
    margin: 0 auto;
    width: 960px;
}

.clear {
    clear: both;
}

/* close generic */

/* header */

.header {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    background-color: var(--prim);
}

@media (max-width: 576px) {
    .header .inner {
        width: 100vw;
        height: 50px;
        display: block;
        /* justify-content: space-between; */
    }
}

.logo {
    margin: 0;
    color: var(--sec);
    font-family: var(--headerFont);
    font-size: calc(32px + (48 - 22) * ((100vw - 300px) / (1600 - 300)));
    text-transform: capitalize;
}

@media (max-width: 576px) {
    .logo {
        margin-bottom: 50px;
        margin-left: 20px;
        text-align: left;

    }
}

@media (max-width: 576px) {
    .social-list {
        text-align: center;
        width: 60vw;
    }
}

.top-nav {
    margin-top: -50px;
    float: right;
}

@media (max-width: 576px) {
    .top-nav {
        margin-top: -80px;
    }
}

.social-list {
    margin: 0;
}

.so-list-item {
    display: inline;
    margin-left: 10px;
}

@media (max-width: 576px) {
    .so-list-item {
        padding: 0 10px;
    }
}

.social-img {
    border-radius: 50%;
}
/* close header */

/* main */

.section1 {
    padding: 20px 0;
    background: radial-gradient(
        at top left, 
        #ea8b9f,
        #e7718b
    );
}

@media (max-width: 576px) {
    .section1 .inner {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
} 

.block1 {
    width: 50%;
}

@media (min-width: 576px) {
    .block1, .block2 {
        width: 96%;
        margin: 0 auto;
    }
}

.block2 {
    width: 50%;
}

.block1 .sub-header, .block1-text {
    color: var(--sec);
}

.block1 .sub-header {
    margin: 0;
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.block1-text {
    width: 90%;
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 570px) {
    .block1-text {
        text-align: justify;
    }
}

.button {
    padding: 3px 18px;
    color: var(--sec);
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-transform: capitalize;
    background-color: var(--btnColor);
    border-radius: 10px;
}

@media (max-width: 570px) {
    .buttons {
        margin: 20px auto;
        width: 96%;
        display:flex;
        justify-content: space-around;
    }
}

.landing-img {
    display: block;
    margin: 10px  auto;
    width: 60%;
    height: auto;
}

@media (min-width: 575.98px) {
    .landing-img {
        margin: 0 auto;
        width: 500px;
        align-content: center;
    }
}

.section2 {
    background-color: var(--sec);
    border-bottom: 8px solid var(--tert);
}

@media (max-width: 576px) {
    .section2 .inner {
        width: 100vw;
        display: block;
        justify-content: space-between;
    }
}

.block3, .block4, .block5 {
    width: 30%;
}

@media (max-width: 576px) {
    .block3, .block4, .block5 {
        justify-content: center;
        width: 90%;
    }
}

.section2 .sub-header {
    color: var(--prim);
    font-size: calc(24px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 576px) {
    .section2 .sub-header {
        text-align: center;
    }
}

.section2 .text {
    color: #777;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 576px) {
    .section2 .text {
        margin-bottom: 30px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .section3 .inner {
        display: block;
        justify-content: space-between;
    }
}

.block6 {
    width: 60%;
}

.section3 {
    padding: 20px 0;
}

.section3 .sub-header {
    color: var(--prim);
    font-size: 20px;
}

@media (max-width: 576px) {
    .block6 {
        margin: 0 auto;
        width: 96%;
        /* border: 1px solid blue; */
    }
}

.block6 .sub-header, .aside .sub-header {
    color: var(--prim);
    font-size: calc(22px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 576px) {
    .block6 .sub-header, .aside .sub-header {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .products {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.aside {
    width: 40%;
    /* border: 1px solid black; */
}

.product {
    margin-bottom: 40px;
    min-width: 100px;
    min-height: 5vh;
    width: 40%;
    height: auto;
    background-color: var(--prim);
    border: 10px solid #bbb;
}

@media (max-width: 576px) {
    .product {
        margin: 40px auto;
        min-width: 300px;
        min-height: 15vh;
    }
}

@media (max-width: 576px) {
    .product:nth-child(3), .product:nth-child(4) {
        display: none;
    }
}

@media (max-width: 576px) {
    .aside {
        margin-bottom: 40px;
        width: 96%;
        text-align: center;
    }
}

.more-button {
    padding: 3px 18px;
    color: var(--sec);
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
    text-transform: capitalize;
    background-color: var(--btnColor);
    border-radius: 10px;
}

@media (max-width: 576px) {
    .more-button {
        display: none;
    }
}

.aside-text {
    margin-bottom: 80px;
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 576px) {
    .aside-text {
        display: block;
    }
}

.bold {
    font-weight: 900;
}

/* close main */

/* footer */

.footer {
    padding: 5px 0;
    background-color: var(--prim);
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

@media (max-width: 576px) {
    .footer .inner {
        width: 100vw;
        display: inline;
    }
}

.colophon-text {
    margin: 0;
    color: var(--sec);
    font-size: 14px;
}

@media (max-width: 576px) {
    .colophon-text {
        font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
        text-align: left;
    }
}

.footer-nav {
    margin-top: -20px;
    padding: 0 0;
    float: right;
}

@media (max-width: 576px) {
    .footer-nav {
        margin-right: 100px;
        display: inline;
    }
}

/* close footer */
